  
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Project #4 Aylien</title>
</head>

<body>

  <header>
    <div class="title">
      Project #4 Aylien Natural Language Processing
    </div>
  </header>

  <div class="text">
    <p>Please provide a URL for a website or article and the results will be shown below.</p>
  </div>

  <main>
    <section>
      <form class="" onsubmit="Client.handleSubmit(event)">
        <input id="name" type="text" name="input" value="" placeholder="Please, enter an URL">
        <input type="submit" name="" value="Submit">
      </form>
      <section>

        <section>
          <strong></strong>
          <div id="results"></div>
        </section>
  </main>

  <footer>
    <p>Todd Lee</p>
  </footer>
  <script>
</script>
</body>
</html>