body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000080;
    color: #fff;
    align-items: center;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}
